<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359010643410-0v5upuhufiusuipcap5mv3f1jde45dol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359010643410-0v5upuhufiusuipcap5mv3f1jde45dol</string>
	<key>API_KEY</key>
	<string>AIzaSyAw6JRVda-yDU1XATLEGuK98YXw4yWGj5A</string>
	<key>GCM_SENDER_ID</key>
	<string>359010643410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ZachSchuster.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f78e7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f78e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359010643410:ios:b5a01d96b400915af2ac0b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-f78e7.firebaseio.com</string>
</dict>
</plist>